{
    "extends": ["@react-native-community", "prettier"],
    "overrides": [
      {
        "files": ["./.expo/metro/externals/console/index.js"],
        "rules": {
          "no-undef": "off"
        }
      }
    ],
    "rules": {
      "prettier/prettier": [
        "error",
        {
          "quoteProps": "preserve",
          "singleQuote": true,
          "tabWidth": 2,
          "trailingComma": "es5",
          "useTabs": false
        }
      ],
      "no-bitwise": 0,
      "prefer-const": "warn",
      "no-console": ["error", { "allow": ["warn", "error"] }],
      "@typescript-eslint/no-explicit-any": "off"
    },
    "parserOptions": {
      "parser": "@babel/eslint-parser",
      "requireConfigFile": false,
      "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
      "sourceType": "module" // Allows for the use of imports
    },
    "plugins": ["prettier"]
  }